:root{
  --amarillo: #FFAE00;
}

h1{
    font-size: 5rem;
}
a{
  text-decoration: none;
  
}

header#header{
    nav{
        img{
            max-height: 7rem;
        }
    }
}

html{
  overflow-x: hidden;
}

section#banner {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  
    .carousel,
    .carousel-inner,
    .carousel-item {
      height: 100%;
    }
  
    .carousel-item {
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
      }
  
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
      }
    }
    .textoBanner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -4%);
      z-index: 10;
      color: white;
      text-align: center;
      width: 90%;
      padding: 15px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 
               0 0 12px rgba(0, 0, 0, 0.1);
  
      a{
          color: white;
          display: block;
          margin-top: 60px;
          i{
              font-size: 6rem;
               
          }
          
      }
    
    }
  }
  
section#info{

  background-color: black;

  height: 70vh;

  img{
    max-height: 100%;
    object-fit: contain;
    width: auto;
  }

  h2{
      font-size: 2.5rem;
      margin-bottom: none;
  }

  p{
    font-size: 1.3rem;  
    margin: 50px;
    line-height: 1.7;
    

  }

  a{
    display: inline-block;
    background-color: var(--amarillo);
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    
    
  }
  
}

section#especies{
    background: url(../img/bg-especies.jpg) no-repeat center center / cover fixed;
    padding-bottom: 10vh;

      h3{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 
               0 0 12px rgba(0, 0, 0, 0.1);
      }
      h4{
        font-style: italic;
        font-size: 1.9rem;
        color: var(--amarillo);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 
               0 0 12px rgba(0, 0, 0, 0.1);
      }

      p{
        font-size: 1.3rem;
        line-height: 1.7;
        margin-top: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 
               0 0 12px rgba(0, 0, 0, 0.1);
      }
    
}

section#equipo{

  min-height: 60vh;
  align-content: center;
  margin: auto;
  background-color: black;

  h3{
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  p{
    font-size: 1.2rem;
    line-height: 1.8;
  }

  a{
    display: inline-block;
    background-color: var(--amarillo);
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: white;

  }

  h4{
    text-align: center;
    font-weight: 300;
    line-height: 2;
    font-size: 1.4rem;
  }

  img{
    height: 10rem;
    background-color: #FFAE00;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2rem ;
  }
}

footer#footer{

  max-height: 70vh;
  margin-top: 40px;

  img{
    max-height: 10rem;
  }

  h5{
    font-size: 2rem;
  }

  p{
    font-size: 1.2rem;
    font-style: italic;
  }

  input:focus{

    box-shadow: 0 0 0 0.25rem rgba(255, 204, 0, 0.25);
    border-color: var(--amarillo); 

  }

  .paglegales{

    a{
      display: inline-block;
      margin-right: 1.5rem;
      margin-bottom: 1.2rem;
      font-weight: 500;
      color: black;
    }
  }

  .social{
    
    a{
      display: block;
      color: var(--amarillo);

      p{
        display: inline;
        padding: 0 20px;
        font-style: normal;
      }

      i{
        font-size: 2rem;
      }
    }
  }

  .copy{
    background-color: var(--amarillo);
    margin-top: 2rem;
    min-height: 3rem;
  }
}

form#newsletter{

  .btn{
    background-color: var(--amarillo);
    border-radius: 0;
    color: white;
    font-weight: 500;

    &:hover{
      color: var(--amarillo) ;
      background-color: black;
    }
  }

  label{
    font-size: 1.1rem;
    font-weight: 500;
  }

  span{
    font-weight: 500;
    font-size: 1.4rem;
    color: orangered;
  }

  .form-check{

    label{
      font-size: 1rem;
    }

    span{
      font-size: 1rem;
    }

    a{
      color: var(--amarillo);
      text-decoration: underline;
      font-weight:500
    }

    
    
  }

  .form-check-input:checked {
    background-color: var(--amarillo); 
    border-color: var(--amarillo);
  }

  .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 204, 0, 0.25);
    border-color: var(--amarillo) ; 

}
  
}

  @media (max-width: 768px) {
    section#banner {
      min-height: 90vh; 
  
      .textoBanner {
        h1 {
          font-size: 2.5rem; 
        }
        h2 {
          font-size: 1.3rem;
        }
      }
    }

    section#info{
      height: auto;
      h2{
        font-size: 1.3rem;
        text-align: left;
      }
      p{
        font-size: 1rem;
        margin: 0;
        text-align: left;
        margin-bottom: 2rem;
      }

      a{
        font-size: 0.8rem;

      }
    }
    
    
  }